body {
    font-family: Arial, sans-serif;
    background-color:rgba(122, 133, 255, 0.1);
    margin: 0;
    padding: 20px;
}

.main_container {
    width: 65%;;
    min-height: 70%;
    margin: 0 auto;
    background: white;
    padding: 20px;
    border-radius: 5px;
}

.post_container {
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 15px;
    margin-bottom: 15px;
}

.post_container p {
    margin: 5px 0;
}

.post_container img {
    max-width: 300px; 
    height: auto;     
    display: block;   
    margin-top: 10px;  
}

footer {
    text-align: center;
    padding: 15px;
    color: #000000;
    margin-top: 40px;
}

aside {
    float: left;
    width: 10%; 
    margin-top: 0;
    margin: 0 auto;
    background: white;
    padding: 20px;
    border-radius: 5px;
}

.warn_message {
    text-align: center;
    width: 50%;
    margin: 0 auto;
}

.date {
    text-align: right;
}