{% extends 'base.html'%}
{% block content %}
<head>
    <title>Головна сторінка</title>
</head>
<body>
    <aside > 
        <nav> 
            <ul>
                <li><a href="{%url 'main_page'%}">Головна сторінка </a></li>
                <li><a href="{%url 'month_filter'%}?month=1">Вересень 🍁</a></li>
                <li><a href="{%url 'month_filter'%}?month=2">Жовтень 🍂</a></li>
                <li><a href="{%url 'month_filter'%}?month=3">Листопад 🌧️</a></li>
                <li><a href="{%url 'month_filter'%}?month=4">Грудень ❄️</a></li>
                <li><a href="{%url 'category_filter'%}?category=1">Олімпіади 🏆</a></li>
                <li><a href="{%url 'category_filter'%}?category=2">Конкурси ⛳</a></li>
            </ul>
        </nav>
    </aside>
    <div class="main_container">
        {%if posts%}
            {% for post in posts %}
                <div class="post_container">
                    <p>{{post.title}}</p>
                    {% if post.pict %}
                        <img src="{{ post.pict.url }}" alt="img">
                    {% endif %}
                    <p>{{post.text}}</p>
                    <p class="date">{{post.date}}</p>
                </div>
            {% endfor %}
        {% else %}
            <p class="warn_message">Немає публікації</p>
        {% endif %}
    </div>
</body>
{% endblock %}