<head>
    <link rel="stylesheet" href="/static/css/main_page.css">
</head>
<body>
    <header>
        <div class="left ">
            <a href="{% url 'random-post'%}" class="btn">Випадкова Публікація</a>
        </div>
        <div class="right">
            <a href="{%url 'category_filter'%}?category=1" class="btn">Олімпіади 🏆</a>
            <a href="{%url 'category_filter'%}?category=2" class="btn">Конкурси ⛳</a>
        </div>
    </header>
    {% block content %}
    
    {% endblock %}
    <footer>
        <p>&copy; {{ now|date:"Y" }} 10-В клас. Усі права захищено.</p>
    </footer>
</body>